body {
  font-family: 'lato';
  /* display: flex; */
  /* height: 100vh; */
  /* align-items: center; */
  /* justify-content: center; */
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

/* Default box shadow */
.card {

  width: 280px;
  height: 360px;
  margin:0 auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  text-align: center;
  border-radius: 5px;
  background-color: white;
}

h1 {
  padding-top: 16px
}

/* Deeper shadow on hover */
.card:hover {
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.2);
}

#container {
  padding: 2px 16px;
  background-color: #008080;
  height: 100%;
  border-radius: 5px;
}

#clock {
  color: white;
  font-size: 30px;
}

#weekday {
  color: black;
  font-size: 40px;
}
